<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Sign in</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form  class="sign-in-form" method="POST" action="{% url 'login' %}">
              {% csrf_token %}>
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name='un' placeholder="Username" required/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name='ps' placeholder="Password" required/>
            </div>
            <input type="submit" value="Login" class="btn solid" />
            
          </form>
          
        </div>
      </div>
    </div>

    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>