{% extends 'base.html' %}
  
{% block content %}
 <!-- Page breadcrumb -->
 {% load static %}
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <h2>Blog Single</h2>
           <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>            
            <li class="active">News</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
 <section id="mu-course-content">
   <div class="container">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Edit News</button>
    <form action="" method="POST">
      {% csrf_token %}
      <div id="demo" class="collapse">
        <br>
          <div class="col-md-10">
            {{ form.title }}
          </div>
        
          <div class="col-md-2">
            {{ form.valid }} <span>Valid</span>
          </div>
          <br><br>
          <div class="col-md-2">
            <input type="submit" value="Save">
          </div>
      </div>
    </form>
    
     
   </div>
 </section>

 {% endblock %}